Client/xml-resources/web-service-references/QuestionWebService/wsdl/localhost_8080/Serveur/QuestionWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="addQuestions" type="tns:addQuestions"/>

<xs:element name="addQuestionsResponse" type="tns:addQuestionsResponse"/>

<xs:element name="evaluateQuestion" type="tns:evaluateQuestion"/>

<xs:element name="evaluateQuestionResponse" type="tns:evaluateQuestionResponse"/>

<xs:element name="getQuestionAlea" type="tns:getQuestionAlea"/>

<xs:element name="getQuestionAleaResponse" type="tns:getQuestionAleaResponse"/>

<xs:element name="question" type="tns:question"/>

<xs:complexType name="evaluateQuestion">
<xs:sequence>
<xs:element name="idQuestion" type="xs:int"/>
<xs:element name="idQReponse" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evaluateQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionAlea">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuestionAleaResponse">
<xs:sequence>
<xs:element name="return" type="tns:question" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="bareme" type="xs:int" minOccurs="0"/>
<xs:element name="enonce" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="indiceReponceCorrecte" type="xs:int" minOccurs="0"/>
<xs:element name="reponse1" type="xs:string" minOccurs="0"/>
<xs:element name="reponse2" type="xs:string" minOccurs="0"/>
<xs:element name="reponse3" type="xs:string" minOccurs="0"/>
<xs:element name="reponse4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuestions">
<xs:sequence>
<xs:element name="idQuestion" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuestionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>