Client/xml-resources/web-service-references/QuestionWebService/wsdl/localhost_8080/Serveur/QuestionWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="QuestionWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/Serveur/QuestionWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getQuestionAlea">
<part name="parameters" element="tns:getQuestionAlea"/>
</message>
<message name="getQuestionAleaResponse">
<part name="parameters" element="tns:getQuestionAleaResponse"/>
</message>
<message name="evaluateQuestion">
<part name="parameters" element="tns:evaluateQuestion"/>
</message>
<message name="evaluateQuestionResponse">
<part name="parameters" element="tns:evaluateQuestionResponse"/>
</message>
<message name="addQuestions">
<part name="parameters" element="tns:addQuestions"/>
</message>
<message name="addQuestionsResponse">
<part name="parameters" element="tns:addQuestionsResponse"/>
</message>
<portType name="QuestionWebService">
<operation name="getQuestionAlea">
<input wsam:Action="http://webservice/QuestionWebService/getQuestionAleaRequest" message="tns:getQuestionAlea"/>
<output wsam:Action="http://webservice/QuestionWebService/getQuestionAleaResponse" message="tns:getQuestionAleaResponse"/>
</operation>
<operation name="evaluateQuestion">
<input wsam:Action="http://webservice/QuestionWebService/evaluateQuestionRequest" message="tns:evaluateQuestion"/>
<output wsam:Action="http://webservice/QuestionWebService/evaluateQuestionResponse" message="tns:evaluateQuestionResponse"/>
</operation>
<operation name="addQuestions">
<input wsam:Action="http://webservice/QuestionWebService/addQuestionsRequest" message="tns:addQuestions"/>
<output wsam:Action="http://webservice/QuestionWebService/addQuestionsResponse" message="tns:addQuestionsResponse"/>
</operation>
</portType>
<binding name="QuestionWebServicePortBinding" type="tns:QuestionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getQuestionAlea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="evaluateQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QuestionWebService">
<port name="QuestionWebServicePort" binding="tns:QuestionWebServicePortBinding">
<soap:address location="http://localhost:8080/Serveur/QuestionWebService"/>
</port>
</service>
</definitions>